<div class="unicorn-navbar <%= content_for?(:navbar_class) ? yield(:navbar_class) : '' %>">
  <%= link_to root_path do %>
    <% if content_for?(:navbar_class) %>
      <%= image_tag "logo-peach.png", id: "logo" %>
    <% else %>
      <%= image_tag "logo-peach-dark.png", id: "logo" %>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <div class="nav-corner-right">
      <% if current_user.admin %>
        <%= link_to 'Create Venue', new_venue_path %>
      <% end %>
      <p style="margin: 0;"><%= current_user.first_name %> <strong><%= current_user.point %> pts</strong></p>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <%= link_to dashboard_path, class: "dashboard-link" do %>
        <%= cl_image_tag current_user.unicorn.photo.path, id: "navbar-wagon-menu" %>
      <% end %>
    </div>

  <% else %>
    <%= link_to new_user_session_path do %>
      Log in
    <% end %>
  <% end %>
</div>


