<div class="unicorn-navbar <%= content_for?(:navbar_class) ? yield(:navbar_class) : '' %>">
  <%= link_to root_path do %>
    <% if content_for?(:navbar_class) %>
      <%= image_tag "logo-white.png", id: "logo" %>
    <% else %>
      <%= image_tag "logo-dark.png", id: "logo" %>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <div class="nav-corner-right">
      <% if current_user.admin %>
        <%= link_to 'Create Venue', new_venue_path %>
      <% end %>

      <%= link_to destroy_user_session_path, method: :delete do %>
        Log out
      <% end %>

      <%= link_to dashboard_path, class: "dashboard-link" do %>
        <p>Bobby <strong>0 pts</strong></p>
        <%= image_tag 'unicorn-1.png', id: "navbar-wagon-menu"%>
      <% end %>

    </div>

  <% else %>
    <%= link_to new_user_session_path do %>
      Log in
    <% end %>
  <% end %>
</div>


