<div class="unicorn-navbar">
  <%= link_to root_path do %>
  <!-- Logo -->
  <div class="logo">
    <%= image_tag "unicorn-champagne.svg" %>
    <span>Shiny Unicorn</span>
  </div>
  <% end %>

  <% if user_signed_in? %>
    <div>
      <% if current_user.admin %>
        <%= link_to 'create venue', new_venue_path %>
      <% end %>

      <div class="dropdown">
        <%= image_tag 'unicorn-icon.svg', class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to dashboard_path do %>
              <%= image_tag 'user.svg', class:"img_format" %>  <%= t(".profile", default: "Dashboard") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= image_tag 'log-in.svg', class:"img_format" %>
              <span>Log out</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

  <% else %>
    <div>
      <%= link_to new_user_session_path do %>
        <%= image_tag 'log-in.svg', class:"img_format" %>
        <!-- <i class="fa fa-user-plus" aria-hidden="true" style="font-size: 28px;"></i> -->
      <% end %>
      <%# link_to user_session_path do %>
<!--         <i class="fa fa-sign-in" aria-hidden="true" style="font-size: 28px;"></i>
 -->      <%# end %>
    </div>
  <% end %>
</div>


