<div class="unicorn-navbar <%= content_for?(:navbar_class) ? yield(:navbar_class) : '' %>">
  <%= link_to root_path do %>
    <% if content_for?(:navbar_class) %>
      <%= image_tag "logo-white.png" %>
    <% else %>
      <%= image_tag "logo-dark.png" %>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <div class="nav-corner-right">
      <% if current_user.admin %>
        <%= link_to 'Create Venue', new_venue_path %>
      <% end %>

      <div class="dropdown">
        <%= image_tag 'unicorn-icon.svg', class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to dashboard_path do %>
              <%= image_tag 'user.svg', class:"img_format" %>  <%= t(".profile", default: "Dashboard") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= image_tag 'log-in.svg', class:"img_format" %>
              <span>Log out</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

  <% else %>
    <%= link_to new_user_session_path do %>
      Log in
    <% end %>
  <% end %>
</div>


