<% content_for(:navbar_class, "unicorn-navbar-home") %>



<div class="banner-home">
  <div class="banner-content">
    <h1 class="title">
      <span class="shiny-unicorn">Hi, I'm Shiny Unicorn.</span>
      <br>Let me find
      <span class="magical">Magical date spots</span>
      for you!
    </h1>
    <form action="<%= venues_path %>" class="form-inline">
      <div class="search-area">
        <input type="search-text" name= "area" id="search-input" list="areas" placeholder="Pick your date area..." autofocus>
        <% Venue::AREAS.each do |area| %>
        <option value="<%= area %>"><% area %></option>
        <% end %>
      </div>

      <div class="venue-categories">
        <div class="venue-category">
          <%= render "shared/icons/restaurant" %>
          <h3>Restaurant</h3>
          <input name='restaurant' id="checkbox-restaurant" class="venue-checkbox" type="checkbox" />
        </div>
        <div class="venue-category checked">
          <%= render "shared/icons/bar" %>
          <h3>Bar</h3>
          <input name='bar' id="checkbox-bar" class="venue-checkbox" type="checkbox" checked="checked"/>
        </div>
        <div class="venue-category">
          <%= render "shared/icons/cafe" %>
          <h3>Cafe</h3>
          <input name='cafe' id="checkbox-cafe" class="venue-checkbox" type="checkbox" />
        </div>
      </div>

      <div class="btn-center">
        <button type="submit" value="" class="next-page-button">
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i><p class="next-page">Next</p>
        </button>
      </div>
    </form>
  </div>
</div>


