<div class="unicorn-navbar">
  <%= link_to root_path do %>
  <div class="logo">
    <%= image_tag "unicorn-champagne.svg" %>
    <span>Shiny Unicorn</span>
  </div>
  <% end %>
</div>

<h2 class="site-title">Shiny Unicorn // London, UK</h2>

<div class="social-btns">
  <a href="https://www.facebook.com" target="_blank">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a href="https://www.instagram.com" target="_blank">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
  <a href="mailto:info@shinyunicorn.co" target="_blank">
    <i class="fa fa-envelope" aria-hidden="true"></i></i>
  </a>
</div>

<div class="banner-home">
  <div class="banner-content">
    <h1 class="title">Hi, let me find </h1>
    <h1 class="title">Magical date spots for you</h1>
    <br>
    <form action="<%= venues_path %>" class="form-inline">
    <select name='area' class="form-control custom-select box_size_cat">
        <option value="" selected>Choose Neighborhood</option>
        <% Venue::NEIGHBORHOOD.each do |neighborhood| %>
        <option value="<%= neighborhood %>"><%= neighborhood %></option>
        <% end %>
        <input type="submit" class="btn btn-primary" value="Search">
      </select>
    </form>
  </div>

</div>

