<div class="venue-profile">
  <h3 class="gold-title">Venue Details</h3>
  <hr>
  <p><i class="fa fa-map-marker logo-loca"></i><span><strong>Address: </strong></span></p>
  <p class="ven-add "><%= @venue.address %>, <%= @venue.area %>, London </p>
  <p><strong>Price: </strong><%= '£  ' * @venue.price %></p>
  <p><strong>Area: </strong><%= @venue.area %></p>
  <!-- <div class="divider2"></div> -->
  <p class=""><strong>Description: </strong><%= @venue.description %></p>
  <div class="divider2"></div>

  <div class="stream-body-bars">
    <div class="img_progress">
    <div class="text-center" data-toggle="tooltip" data-placement="top" title="Hotness Level">
      <%= image_tag 'chili.svg', class:"img_format2" %>
    </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= @venue.unicorn_score * 10 %>%" aria-valuenow="<%= @venue.unicorn_score * 10 %>" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div><span class="venue-score"><%= @venue.unicorn_score %>/10</span>
    </div>
    <div class="img_progress">
    <div class="text-center" data-toggle="tooltip" data-placement="top" title="Couch Comfortness Level">
      <%= image_tag 'sofa.svg', class:"img_format2" %>
    </div>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= @venue.couch_comfort * 10 %>%" aria-valuenow="<%= @venue.couch_comfort * 10 %>" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div><span class="venue-score"><%= @venue.couch_comfort %>/10</span>
    </div>
    <div class="img_progress">
    <div class="text-center" data-toggle="tooltip" data-placement="top" title="Noise Level">
      <%= image_tag 'noise.svg', class:"img_format2" %>
    </div>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%= @venue.noise_level * 10 %>%" aria-valuenow="<%= @venue.noise_level * 10 %>" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div><span class="venue-score"><%= @venue.noise_level %>/10</span>
    </div>
  </div>
</div>
