<div class="venue-spots">
  <h3 class="gold-title">Hot Spots</h3>
  <hr>

  <% unless @venue.spots.empty? %>
  <div class="venue-spot-photos">
    <% @venue.spots.each do |spot| %>
      <% if spot.photo %>
        <%= link_to cl_image_path(spot.photo.path) do %>
          <%= cl_image_tag(spot.photo.path, crop: :thumb, width: 200, height: 200) %>
          <span><%= spot.name || "test" %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% end %>
  <br>

  <% if user_signed_in? %>
  <button type="" value="Add a Spot to this Venue" class="btn shiny-btn2" id="create-spot">
  Create Spot</button>
  <%= render 'spots/spot-form' if user_signed_in? %>
  <% else %>
  <%= link_to "Create Spot", new_user_session_path, class: "btn shiny-btn2" %>
  <% end %>
</div>



