

<div class="banner" style="background-image: url('<%= cl_image_path @venue.photo.path %>');">
</div>



<div class="top-title-show">
  <div class="row test">
    <!-- <div class="col-xs-12 col-md-8 "> -->
    <div class='venue-name'>
      <h2><%= @venue.name.upcase %></h2>
    </div>
    <!-- </div> -->
    <!-- <div class="col-xs-12 col-md-8"> -->
    <div class="fixed-right ">
      <% if @is_favorite %>
        <%= link_to venue_favorite_path(venue_id: @venue), method: :delete do %>
          <i class="fa fa-heart-o"></i> <span>Remove from Favorites</span>
        <% end  %>
      <% else %>
        <%= link_to venue_favorites_path(venue_id: @venue), method: :post do %>
          <i class="fa fa-heart"></i> <span>Add to Favorites</span>
        <% end %>
      <% end %>


       <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Add to Favorites
      </button> -->
      <!-- <a href="#"><i class="fa fa-heart"></i></a> -->
    </div>
   <!-- </div> -->
 </div>
</div>

<div class="bottom-title-show">
  <div>
    <h3><%= @venue.mood.capitalize %></h3>
  </div>
  <div class='socialrow'>
    <%= link_to '#' do %>
    <div class='socialbutton instagram'>
      <i class="fa fa-instagram"></i>
    </div>
    <% end %>
    <%= link_to '#' do %>
    <div class='socialbutton facebook'>
      <i class="fa fa-facebook"></i>
    </div>
    <% end %>
    <%= link_to '#' do %>
    <div class='socialbutton twitter'>
      <i class="fa fa-twitter"></i>
    </div>
    <% end %>
  </div>

  <div class="divider">
    <hr/>
  </div>

  <div class="text-center">
    <div class="align-items">
      <i class="fa fa-map-marker logo-loca"></i>
      <h4 class="ven-add"><%= @venue.address %></h4>
    </div>
  </div>
  <div class="text-center">
    <p><%= @venue.description %></p>
  </div>
</div>


<br>
<br>
<br>

<div class="container">
  <div class="show-card">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <div id="map">
        </div>
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-2">
        <p><strong>Venue Details</strong></p>
        <br>
        <p><strong>Price</strong></p>
        <%= @venue.price %>
        <p><strong>Area</strong></p>
        <%= @venue.area %>
        <br>
        <br>
        <div class="stream-body-bars">
          <div class="img_progress">
            <%= image_tag 'chili.svg', class:"img_format" %>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
          <div class="img_progress">
            <%= image_tag 'sofa.svg', class:"img_format" %>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 55%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
          <div class="img_progress">
            <%= image_tag 'noise.svg', class:"img_format" %>
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<button class="back-btn"><%= link_to "Back", :back %></button>
<br>







<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Find hidden magical date spots in your neighborhood</h4>
      </div>

      <div class="modal-body">

        <div class="login-btn facebook">
          <!-- <i class="fa fa-facebook" aria-hidden="true"></i> -->
          <%= link_to "Continue with Facebook", user_facebook_omniauth_authorize_path, class: "login-btn-txt" %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>


<!--   <div class="stream-body3">
    <div class="slider-wrapper">
      <div class="sliders first">
        <input id="ex9" type="text" />
      </div>
      <div class="sliders second">
        <input id="ex11" type="text" data-slider-handle="custom" data-slider-value="0"/>
      </div>
    </div>
  </div> -->

  <% content_for(:after_js) do %>
<script>
 $(document).ready(function() {
   var handler = Gmaps.build('Google');
   handler.buildMap({ internal: { id: 'map' } }, function() {
     markers = handler.addMarkers(<%= raw @hash.to_json %>);
     handler.bounds.extendWith(markers);
     handler.fitMapToBounds();
     if (markers.length == 0) {
       handler.getMap().setZoom(2);
     } else if (markers.length == 1) {
       handler.getMap().setZoom(14);
     }
   });
 });
</script>
<% end %>





