    <div class="col-xs-12 col-sm-6">

      <div class="card" style="background-image: url(<%= cl_image_path booking.spot.photo.path || booking. %>);">
        <div class="card-category">
          <h2><%= booking.spot.venue.name %></h2>
        </div>
        <div class="card-description">
          <h3><%= booking.spot.name %></h3>
          <p>Booked on <%= booking.date %></p>
        </div>
         <%= link_to "", venue_path(booking.spot.venue), class: "card-link" %>
      </div>
    </div>
