
 <div class="header-wrapper">
  <div class="header-container">
    <div class="profile-header">
      <%= cl_image_tag current_user.unicorn.photo.path %>
      <p id="profile-name"><%= current_user.unicorn.name %></p>
      <p id="profile-points"><%= current_user.point %> pt</p>
    </div>
  </div>
</div>


<div class="dashboard-container">
  <div class="row-unlocked-badges">
    <p class="dashboard-title">Unicorn Badges</p>

    <ul class="list-inline badges-list">
      <li>
        <%= image_tag "unicorn-icon.svg", class: "unicorn-badges"%>
      </li>
      <li class="text-center">
        <% if current_user.point < 1 %>
          <%= image_tag "coolunicorn-hidden.png", class: "unicorn-badges"%>
          <p>1 point to unlock</p>
        <% else %>
          <%= image_tag "coolunicorn.png", class: "unicorn-badges"%>
        <% end %>
      </li>
      <li class="text-center">
        <% if current_user.point < 2 %>
          <%= image_tag "badassunicorn-hidden.png", class: "unicorn-badges"%>
          <p>2 points to unlock</p>
        <% else %>
          <%= image_tag "badassunicorn.png", class: "unicorn-badges"%>
        <% end %>
      </li>
      <li class="text-center">
        <% if current_user.point < 4 %>
          <%= image_tag "masterunicorn-hidden.png", class: "unicorn-badges"%>
          <p>4 points to unlock</p>
        <% else %>
          <%= image_tag "masterunicorn.png", class: "unicorn-badges"%>
        <% end %>
      </li>
    </ul>
  </div>


  <div class="row-favorite-spots">
    <p class="dashboard-title">Favorite Spots</p>
    <div class="col-md-12">
      <% current_user.venues.first(3).each do |venue| %>
        <%= render 'venues/venuecard', venue: venue %>
      <% end %>
    </div>


  </div>

  <div class="row-bookings">
    <p class="dashboard-title">Bookings</p>
    <div class="col-md-12">
    <% current_user.bookings.each do |booking| %>
      <%= render 'dashboards/bookingcard', booking: booking %>
    <% end %>
    </div>
  </div>



</div>

