
 <div class="header-wrapper">
  <div class="header-container">
    <div class="profile-header">
      <%= image_tag "unicorn-icon.svg", id: "user-img"%>
      <p><%= current_user.first_name %></p>
      <p>123 points</p>

    </div>
  </div>
</div>


<div class="dashboard-container">
  <div class="row unlocked-badges">
    <p>Unlocked Badges</p>

    <ul class="list-inline badges-list">
      <li>
        <%= image_tag "unicorn-icon.svg", class: "unlocked-badges"%>
        <p>50 points</p>
      </li>
      <li>
        <%= image_tag "unicorn-icon.svg", class: "unlocked-badges"%>
        <p>50 points</p>
      </li>
      <li>
        <%= image_tag "unicorn-icon.svg", class: "unlocked-badges"%>
        <p>50 points</p>
      </li>
    </ul>
  </div>


  <div class="row favorite-spots">
    <p>Favorite Spots</p>
    <div class="col-md-12">
      <% current_user.venues.first(3).each do |venue| %>
        <%= render 'venues/venuecard', venue: venue %>
      <% end %>
    </div>


  </div>

  <div class="row bookings">
    <p>Bookings</p>
    <div class="col-md-12">
    <% current_user.bookings.each do |booking| %>
      <%= render 'dashboards/bookingcard', booking: booking %>
    <% end %>
    </div>
  </div>



</div>

